.base_text {
  font-family: BlissPro;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.31;
  color: #354a5f;
  margin: 0;
}

.base_h1 {
  font-family: BebasNeue;
  font-size: 48px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #354a5f;
  line-height: inherit;
  padding: 61px 0;
  text-align: left;
  margin: 0;
}

.base_h2 {
  font-family: BlissPro;
  font-size: 24px;
  font-weight: normal;
  color: #0a6ed1;
  margin: 0;
}

.base_h3 {
  font-family: BlissPro;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.31;
  color: #354a5f;
  margin: 0;
}

.base_h4 {
  font-weight: bold;
  color: #363636;
  text-align: left;
  font-family: 'Source Sans Pro',Arial, Helvetica, sans-serif;
  font-size: 90%;
  line-height: 1.5;
  padding: 0;
  margin: 10px 0;
}

.base_kv {
  font-family: BlissPro;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.31;
  color: #354a5f;
  margin: 0;
  .base_kv_key {
    font-weight: bold;
    text-transform: uppercase;
  }
  .base_kv_value {
  }
}

.base_mail {
  -webkit-transition: 0.3s ease-out;
  font-family: BlissPro;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.31;
  color: #0a6ed1;
  margin: 0;
  &:active, &:hover {
    color: #999;
    text-decoration: none;
    outline: 0;
  }
}

.base_link {
  -webkit-transition: 0.3s ease-out;
  font-family: BlissPro;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.31;
  color: #354a5f;
  margin: 0;
  &:hover {
    color: #999;
    text-decoration: none;
    outline: 0;
  }

  &:active {
    color: #0a6ed1;
    text-decoration: none;
    outline: 0;
  }
}

.base_list {
  list-style-type: none;
  font-family: BlissPro;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.31;
  color: #354a5f;
  margin: 0;
  padding: 0;
  .base_list_item {
    padding: 0;
    margin: 0;
  }
}

.base_title {
  width: 100%;
  font-family: BebasNeue;
  font-size: 48px;
  color: #354a5f;
  text-transform: uppercase;
  font-weight: 300;
  user-select: none;
}

.complex_text {
  display: flex;
  width: 100%;
  align-items: flex-end;
  pointer-events: none;

  &--text {
    display: block;
    width: fit-content;
    font-family: BebasNeue;
    font-weight: normal;
    color: #89919a;
    pointer-events: none;
  }

  &--small {
    font-size: 18px;
    padding-bottom: 3px;
  }

  &--big {
    font-size: 36px;
  }

}