.custom_textarea {
  padding-top: 10px;
  width: 100%;
  height: 100%;

  .custom_textarea_content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: BlissPro;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.17px;
    color: #354a5f;

    .custom_textarea_border_top {
      position: absolute;
      display: flex;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;

      &_first {
        width: 10px;
        height: 100%;
        border-top: solid 1px #89919a;
        border-left: solid 1px #89919a;
        border-bottom: solid 1px #89919a;
        border-radius: 4px 0 0 4px;
        pointer-events: none;
        transition-duration: 0.2s;
      }

      &_second {
        height: 100%;
        pointer-events: none;
        display: flex;
        padding: 15px 0;
        border-top: solid 1px #89919a;
        border-bottom: solid 1px #89919a;
        transition-duration: 0.2s;

        &_filled {
          align-items: flex-start;
          padding: 0;
          border-top: none;
        }

        .custom_textarea_legend_content {
          text-align: center;
          font-family: inherit;
          font-size: inherit;
          line-height: inherit;
          letter-spacing: inherit;
          color: inherit;
          pointer-events: none;
          user-select: none;
          transition-duration: 0.2s;

          &_filled {
            font-family: Roboto;
            font-size: 12px;
            line-height: 1.33;
            letter-spacing: 0.4px;
            padding: 0px 2px;
            transform: translateY(-5px);
          }

        }

      }

      &_third {
        flex-grow: 1;
        height: 100%;
        border-top: solid 1px #89919a;
        border-right: solid 1px #89919a;
        border-bottom: solid 1px #89919a;
        border-radius: 0 4px 4px 0;
        pointer-events: none;
        transition-duration: 0.2s;
      }

    }

    .custom_textarea_input {
      flex-grow: 1;
      margin: 15px;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      letter-spacing: inherit;
      color: inherit;

      &:focus+.custom_textarea_border_top {
        .custom_textarea_border_top_first {
          border-top: solid 2px #0170d8;
          border-left: solid 2px #0170d8;
          border-bottom: solid 2px #0170d8;
        }

        .custom_textarea_border_top_second {
          align-items: flex-start;
          border-bottom: solid 2px #0170d8;
          padding: 0;
          border-top: none;

          .custom_textarea_legend_content {
            font-family: Roboto;
            font-size: 12px;
            line-height: 1.33;
            letter-spacing: 0.4px;
            color: #0a6ed1;
            padding: 0px 2px;
            transform: translateY(-5px);
          }
        }

        .custom_textarea_border_top_third {
          border-top: solid 2px #0170d8;
          border-right: solid 2px #0170d8;
          border-bottom: solid 2px #0170d8;
        }

      }
    }

  }
}