.section_contacts {

  .contacts_container {
    box-shadow: 0 2px 40px 0 #f1f2f4;

    .tab_title {
      font-family: BlissPro;
      font-size: 14px;
      text-transform: none;
      white-space: nowrap;
      color: #89919a;
      text-align: center;
      font-weight: normal;
    }

  }

  .widget_map {
    width: 40%;
    position: relative;
    overflow: hidden;

    .widget_city {
      position: absolute;
      color: #eee;
      font-size: 12px;
      top: 0px;
    }

    .widget_street {
      position: absolute;
      color: #eee;
      font-size: 12px;
      top:14px;
    }

    .widget_frame {
      position: relative;
      width: 100%;
      height: 100%;
    }

  }

}