.section_category {
  position: relative;
  height: 511px;
  @include breakpoint (sm) {
    transform-origin: top;
    height: 327px;
  }

  & &_circles {
    position: absolute;
    top: 0;
    @include breakpoint (sm) {
      transform-origin: top;
      transform: scale(0.5);
    }

    &--item {
      margin: 0 auto;
      margin-top: 222px;
      padding-right: 220px;
    }

  }

  & &_first_slider {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2880px;
    height: 415px;
    z-index: 9;
    @include breakpoint (sm) {
      transform-origin: top;
      transform: translateX(-50%) scale(0.5);
    }

    &--content {
      height: 100%;
      & .slider_base_list {
        align-items: flex-end;
      }
    }

    &--img {
      width: 400px;
      height: auto;
      user-select: none;
    }

    &--b {
      margin-bottom: -25px;
    }

    &--c {
      margin-right: 56px;
    }

    &--d {
      width: 600px;
      margin-bottom: -38px;
      margin-right: 105px;
    }
  }

  & &_second_slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 8;
    @include breakpoint (sm) {
      transform-origin: top;
      transform: scale(0.5);
    }

    &--item {
      position: relative;
      width: 1300px;
      margin: 0 auto;
    }

    &--content {
      position: absolute;
      width: 240px;
      height: 240px;
      top: 160px;
      left: 50%;
      transform: translateX(calc(-50% + 210px));
      object-fit: contain;
      border-radius: 4px;
      background-image: linear-gradient(to bottom, #f90, #f7f8fa);
    }

    &--text {
      font-family: BebasNeue;
      font-size: 220px;
      font-weight: bold;
      color: #ffffff;
      text-transform: uppercase;
      user-select: none;
    }
  }

  & &_nav {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    justify-content: start;
    align-items: flex-end;

    &--item {
      width: 1300px;
      margin: 0 auto;
      @include breakpoint (xxl) {
        width: 1200px;
        margin: 0 66px;
      }
      @include breakpoint (xl) {
        flex: 1 0 200px;
      }
      @include breakpoint (sm) {
        margin: 0 20px;
      }
    }

    &_arrow {
      display: flex;
      width: auto;
      height: auto;
      margin-bottom: 96px;
      @include breakpoint (sm) {
        margin-bottom: 53px;
      }
  
      &_button {
        z-index: 10;
        padding: 0;
        border: none;
        width: 48px;
        height: 48px;
        cursor: pointer;
  
        &--img {
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, #0084ff, #00b3ff);
          opacity: 0.8;
          user-select: none;
  
          &:hover {
            opacity: 1;
          }
  
          &:active {
            opacity: 0.9;
          }
        }
  
        &--right {
          margin-left: 10px;
          user-select: none;
        }
      }
  
    }
  }
}