.section_contacts {

  .contacts_container {

    .tab_title {
      font-family: BlissPro;
      font-size: 14px;
      text-transform: none;
      white-space: nowrap;
      color: #89919a;
      text-align: center;
      font-weight: normal;
    }

  }
}