.section_contacts {

  .contacts_container {
    box-shadow: 0 2px 40px 0 #f1f2f4;

    .tab_title {
      font-family: BlissPro;
      font-size: 14px;
      text-transform: none;
      white-space: nowrap;
      color: #89919a;
      text-align: center;
      font-weight: normal;
    }

  }
}