.section_school {

  .info_card {
    .right_card {
      .card_time {
        color: #354a5f;
      }
    }
  }

  .school_tabs {
    margin-bottom: 15px;
  }

  .section_school_desc {
    font-family: BlissPro;
    font-size: 16px;
    font-weight: 300;
  }
}