.section_group {
  margin-top: 152px;

  .title_content {
    margin-bottom: 49px;
  }

  .tab_container_link {

    & > .tab_container_link_text {
      font-family: BlissPro;
      font-size: 14px;
      font-weight: bold;
      color: #95a0ac;
    }

    &.active > .tab_container_link_text {
      color: #354a5f;
    }
  }

  & &_picture {
    position: relative;
    height: 345px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 25px;

    &_img {
      position: absolute;
      top: -152px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 1344px;
    }

  }

  & &_tab_content {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 2px 40px 0 #f1f2f4;
    background-color: #fff;
    margin-top: 25px;

    .decor_container {
      position: absolute;
      z-index: -1;
      width: 178px;
      height: 294px;
      left: -178px;
      top: -88px;
  
      & > img {
        width: 100%;
        height: 100%;
      }
    }

  }

  &_content {
    box-sizing: border-box;
    padding: 40px;

    &--overflow {
      @include breakpoint (xl) {
        overflow: auto;
        width: calc(100vw - 2 * 40px - 2 * 66px);
      }
      @include breakpoint (sm) {
        width: calc(100vw - 2 * 40px - 2 * 20px);
      }
    }

    &--title {
      padding-bottom: 41px;
    }

    &--table {
      padding: 0 16px;
    }

  }

  .category_tab_title {
    font-family: BlissPro;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.18px;
    color: #0a6ed1;
  }

  .group_table {

    &--item_first {
      padding: 8px 0;
      margin-bottom: 3px;
    }

    &--item {
      padding: 8px 0;
      margin-top: 2px;
      border-bottom: 1px solid #e0e0e0;
    }

    &_line {
      align-items: center;

      &--item {
        min-width: 228px;
      }

    }

    &_cell {

      &--title {
        font-family: BlissPro;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.15px;
        color: #354a5f;
      }

      &--description {
        font-family: BlissPro;
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: 0.25px;
        color: #89919a;
      }

      &--date {
        font-family: BlissPro;
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: 0.25px;
        color: #354a5f;
      }

    }

  }

}