.section_calculator {

  &_content {
    max-width: 1300px;
    margin: 0 auto;
    flex: 1 0 auto;
    z-index: 100;
  }

  & &_panel {
    box-shadow: 0 2px 14px 0 #f1f2f4;
  }

  .select_list {
    width: calc(100% + 2 * 25px);
    transform: translate(-50%, calc(100% + 18px + 1px));
  }

  .select_list--item {
    padding: 12px 40px;

    .complex_text {
      &--big, &--small {
        font-family: BlissPro;
        text-transform: none;
        font-size: 16px;
        padding-bottom: 0;
      }
    }

    &:hover .complex_text {
      &--big, &--small {
        color: #fff;
      }
    }
  }

  .info_box {
    box-sizing: border-box;
    width: 132px;
    height: 100px;
    padding: 18px 25px;
    background-color: #ffffff;
    margin-right: 1px;

    &_container {
      justify-content: space-between;
    }

    &_title {

      &--text {
        font-family: BlissPro;
        font-size: 14px;
        font-weight: normal;
        text-transform: uppercase;
        color: #0a6ed1;
      }

    }

    &_description {

      &--before {
        font-family: BebasNeue;
        font-size: 18px;
        color: #89919a;
      }

      &--num {
        font-family: BebasNeue;
        font-size: 36px;
        color: #354a5f;
      }

      &--after {
        font-family: BebasNeue;
        font-size: 18px;
        color: #89919a;
      }
    }

    &_select--first {
      width: 300px;
      font-weight: normal;
    }

    &_select--second {
      width: 300px;
    }

  }

  .btn_part {
    position: relative;
    flex-grow: 1;

    .decor_part {
      position: absolute;
      right: -3.75em;
      top: 1.875em;
      z-index: 2;
      width: 131px;
      height: 271px;

      &--img {
        width: 100%;
        height: 100%;
      }
    }

    .btn_enroll {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(to bottom, #0080ff, #00b7ff);
      border: none;
      cursor: pointer;

      &--text {
        font-family: BebasNeue;
        font-size: 36px;
        padding-top: 6px;
        text-transform: uppercase;
        color: #fff;
        transform-origin: center center;
      }
    }

  }

  .calculator_desc {
    margin-top: 15px;

    &--text {
      font-family: BlissPro;
      font-size: 16px;
      font-weight: 300;
      color: #354a5f;
    }
  }

  .selection_calculator_modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    align-items: center;
    justify-content: center;

    &[data-state-is_open_modal="true"] {
      display: flex;
    }

    .modal_content {
      width: 852px;
      height: 659px;
      border-radius: 20px;
      box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.1);
      background-color: #ffffff;

      .scm_close_field {
        display: flex;
        justify-content: end;
        padding: 30px;
      }

      .scm_wrapper {
        padding: 0 80px;

        .scm_subtitle {
          padding: 18px 0;

          &_content {
            margin: 0;
            font-family: BlissPro;
            font-size: 24px;
            font-weight: 300;
            color: #354a5f;
          }
        }

        .scm_form {
          display: flex;
          padding-top: 25px;
          font-family: BlissPro;
          font-size: 14px;
          color: #272f4a;

          &_left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 342px;
            width: 50%;
            padding-right: 22px;

            .scm_form_left_agreement {
              display: flex;
              padding-top: 18px;

              .scm_form_check {
                width: 18px;
                height: 18px;
                margin-right: 18px;
              }

              .scm_form_text {
                flex-grow: 1;

                .scm_form_info {
                  margin: 0 0 14px 0;
                }

                .scm_form_link {
                  text-decoration: underline;
                  color: #658ef8;
                  margin: 0;
                }

              }

            }
          }

          &_right {
            width: 50%;
            padding-left: 22px;

            .scm_message_field {
              height: 204px;
            }

            &_text {
              padding-top: 18px;
              margin: 0;
            }

            &_button {
              margin-top: 28px;
              width: 100%;
            }

          }
        }
          
      }

    }
  }

}