.section_calculator {

  .section_calculator_form {
    display: flex;
    margin-bottom: 1.25em;
    box-shadow: 0 2px 14px 0 #f1f2f4;
    height: 100px;
    width: 1260px;
    background-color: #fff;
    
    $selection_part_width: 270px;

    .calculator_block {
      height: 100%;
      padding: 18px 25px;
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      border: 0.5px solid #5555551f;
    }

    .selection_part {
      position: relative;
      width: $selection_part_width;

      &:hover .select_set {
        display: block;
      }

      .select_set {
        position: absolute;
        overflow: hidden;
        display: none;
        width: $selection_part_width;
        top: calc(100% - 15px);
        background-color: #ffffff;
        border-radius: 6px;
        box-shadow: 0.3125em 0.3125em 1.875em 0.3125em #55555533;
        z-index: 2;

        .select_set_item {
          padding: 1.5625em;
          text-transform: uppercase;
          color: #89919a;

          &:hover {
            color: #fff;
            background: linear-gradient(180deg, #0081ff, #00b5ff);
          }
        }
      }

      .left {
        flex-grow: 1;
        display: block;

        .select_title {
          font-family: BlissPro;
          font-size: 14px;
          color: #0a6ed1;
          text-transform: uppercase;
        }

        .select_value {
          position: absolute;
          margin-top: 5px;
          font-family: BebasNeue;
          font-size: 36px;
          color: #89919a;
          transform-origin: top left;
          transform: scaleX(0.6);
          text-transform: uppercase;
          font-weight: 500;
          white-space: nowrap;
        }
      }

      .right {
        display: flex;
        width: 25px;
        align-items: end;

        .img {
          width: 25px;
          height: 25px;
          margin-bottom: 8px;
        }
      }
    }

    .calculator_value_part {
      width: 140px;
      display: block;

      .block_title {
        font-family: BlissPro;
        font-size: 14px;
        color: #0a6ed1;
        text-transform: uppercase;
      }

      .block_value {
        font-family: BebasNeue;
        margin-top: 5px;

        .calculator_value {
          font-size: 36px;
          color: #354a5f;
        }

        .calculator_type {
          position: absolute;
          font-size: 18px;
          color: #89919a;
          margin-left: 6px;
          margin-top: 15px;
          text-transform: uppercase;
          white-space: nowrap;
          transform-origin: top left;
          transform: scaleX(0.6);
        }
      }
    }

    .btn_part {
      position: relative;
      flex-grow: 1;

      .btn_enroll {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to bottom, #0080ff, #00b7ff);

        .btn_enroll_text {
          font-family: BebasNeue;
          font-size: 36px;
          text-transform: uppercase;
          color: #fff;
          transform-origin: center center;
          transform: scaleX(0.6);
        }
      }
    }

    .decor_part {
      position: absolute;
      right: -3.75em;
      top: 1.875em;
      z-index: 2;
      width: 8.75em;
      height: 17.5em;

      .decor_img {
        width: 131px;
        height: 271px;
      }
    }

  }

  .calculator_desc {
    font-family: BlissPro;
    font-size: 16px;
    font-weight: 300;
  }

  .selection_calculator_modal_nodisplay {
    display: none !important;
  }

  .selection_calculator_modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    align-items: center;
    justify-content: center;

    .modal_content {
      width: 852px;
      height: 659px;
      border-radius: 20px;
      box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.1);
      background-color: #ffffff;

      .scm_close_field {
        display: flex;
        justify-content: end;
        padding: 30px;
      }

      .scm_wrapper {
        padding: 0 80px;

        .scm_subtitle {
          padding: 18px 0;

          &_content {
            margin: 0;
            font-family: BlissPro;
            font-size: 24px;
            font-weight: 300;
            color: #354a5f;
          }
        }

        .scm_form {
          display: flex;
          padding-top: 25px;
          font-family: BlissPro;
          font-size: 14px;
          color: #272f4a;

          &_left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 342px;
            width: 50%;
            padding-right: 22px;

            .scm_form_left_agreement {
              display: flex;
              padding-top: 18px;

              .scm_form_check {
                width: 18px;
                height: 18px;
                margin-right: 18px;
              }

              .scm_form_text {
                flex-grow: 1;

                .scm_form_info {
                  margin: 0 0 14px 0;
                }

                .scm_form_link {
                  text-decoration: underline;
                  color: #658ef8;
                  margin: 0;
                }

              }

            }
          }

          &_right {
            width: 50%;
            padding-left: 22px;

            .scm_message_field {
              height: 204px;
            }

            &_text {
              padding-top: 18px;
              margin: 0;
            }

            &_button {
              margin-top: 18px;
              width: 100%;
            }

          }
        }
          
      }

    }
  }

}