.slider_base {
  height: 200px;
  box-sizing: border-box;
  width: 100%;

  & &_content {
    height: 100%;
    overflow: hidden;
  }

  & &_list {
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: start;
    align-items: center;

    &--item {
      flex: 0 0 auto;
      text-align: center;
    }

  }

}