@font-face {
  font-family: BebasNeue;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/BebasNeueRegular.woff2) format("woff2"), url(./assets/fonts/BebasNeueRegular.woff) format("woff")
}

@font-face {
  font-family: BlissPro;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./assets/fonts/BlissPro-Light.woff2) format("woff2"), url(./assets/fonts/BlissPro-Light.woff) format("woff")
}

@font-face {
  font-family: BlissPro;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/BlissPro.woff2) format("woff2"), url(./assets/fonts/BlissPro.woff) format("woff")
}

@font-face {
  font-family: BlissPro;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./assets/fonts/BlissPro-Medium.woff2) format("woff2"), url(./assets/fonts/BlissPro-Medium.woff) format("woff")
}

@font-face {
  font-family: BlissPro;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./assets/fonts/BlissPro-Bold.woff2) format("woff2"), url(./assets/fonts/BlissPro-Bold.woff) format("woff")
}

@font-face {
  font-family: BlissPro;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(./assets/fonts/BlissPro-Heavy.woff2) format("woff2"), url(./assets/fonts/BlissPro-Heavy.woff) format("woff")
}

@font-face {
  font-family: RobotoSlab;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/Robotoslabregular.woff2) format("woff2"), url(./assets/fonts/Robotoslabregular.woff) format("woff")
}

@font-face {
  font-family: RobotoSlab;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./assets/fonts/Robotoslabbold.woff2) format("woff2"), url(./assets/fonts/Robotoslabbold.woff) format("woff")
}