.footer {
  display: block;
  background-color: #efecf0;

  .wrapper_item {
    position: relative;
  }

  .navbar {
    flex-wrap: wrap;

    &--item {
      flex: 0 1 content;
      padding-right: 40px;
      padding-bottom: 3px;
      padding-top: 3px;
    }
  }

  .footer_copyright_text {
    font-family: BlissPro;
    font-size: 14px;
    color: #89919a;
  }

  .footer_navlink {
    font-family: BlissPro;
    font-size: 14px;
    line-height: 1.86;
    color: #5a78a0;
    white-space: nowrap;
    text-decoration: none;
  }

  .footer_link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22.5px;
    min-width: 45px;
    min-height: 45px;
    max-width: 45px;
    max-height: 45px;
    border: 1px solid #0b6bcb;
    transition: color 0.2s ease, border-color 0.2s ease;
    text-decoration: none;
    cursor: pointer;

    &_icon {
      width: 25px;
      height: 25px;
      transition: fill 0.2s ease;
      fill: #0b6bcb;
      cursor: pointer;

      &:hover {
        fill: #1685f3;
      }
    }

    &:hover {
      border-color: #1685f3;
    }
  }

  .decor_container {
    position: absolute;
    overflow: hidden;
    width: fit-content;
    height: 243px;
    z-index: 100;
    bottom: 0;
    right: -86px;
    @include breakpoint(xl) {
      right: -54px;
    }
    @include breakpoint(sm) {
      right: -20px;
    }

    &_img {
      width: 150px;
      min-width: 100%;
      min-height: 100%;
    }
  }

  .footer_container {
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0;

    &--copyright {
      flex: 0 0 content;
      padding-right: 133px;
      @include breakpoint(xxl) {
        flex: 0 1 100%;
        margin-bottom: 10px;
        padding-right: 0;
      }
    }

    &--navbar {
      flex: 1 1 content;

      &_container {
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-right: 96px;
        @include breakpoint(xl) {
          padding-right: 116px;
        }
        @include breakpoint(sm) {
          padding-right: 92px;
        }

        &--item {
          padding: 10px 0;
          @include breakpoint(md) {
            flex: 0 1 100%;
          }
        }

        &--vk {
        }
      }
    }
  }
}
