html[data-scroll='true'] .header {
  transform: translateY(-100%);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #20062d;
  border-bottom: 1px solid #4d1283;
  z-index: 10;
  transition: transform .3s linear;

  &_container {
    height: 100%;
    justify-content: center;
    align-items: center;

    .nav_container {
      margin-left: 82px;
      width: 1200px;
      justify-content: space-between;
      align-items: center;
      padding-right: 82px;
      @include breakpoint (xl) {
        padding-right: 66px;
      }
      @include breakpoint (sm) {
        padding-right: 20px;
      }

      .nav_button {
        font-family: BlissPro;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
        @include breakpoint (xl) {
          display: none;
        }
      }

    }

    .personal_area_button {
      border-width: 2px;
      padding: 10px 16px 9px;
    }

  }

  .hamburger-menu {
    visibility: hidden;
    @include breakpoint (xl) {
      visibility: visible;
    }

    /* скрываем чекбокс */
    #menu__toggle {
      opacity: 0;
    }

    /* стилизуем кнопку */
    .menu__btn {
      display: flex; /* используем flex для центрирования содержимого */
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 20px;
      left: 66px;
      width: 60px;
      height: 40px;
      cursor: pointer;
      z-index: 1;
      @include breakpoint (sm) {
        top: 28px;
        left: 20px;
        width: 36px;
        height: 24px;
      }

      /* добавляем "гамбургер" */
      & > .bb_top,
      & > .bb_center,
      & > .bb_bottom {
        position: absolute;
        display: block;
        width: 100%;
        height: 6px;
        background-color: #ffffff;
        transition: transform .2s ease;
        @include breakpoint (sm) {
          height: 3px;
        }
      }

      & > .bb_top {
        top: 0;
      }

      & > .bb_center {
        top: 50%;
        transform: translateY(-50%);
      }

      & > .bb_bottom {
        bottom: 0;
      }
    }

    /* контейнер навигационного меню */
    .menu__box {
      position: fixed;
      top: 0;
      left: 0;
      width: 70%;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      justify-content: center;
      background-color: #0b6bcb;
      box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      transform: translateX(-100%);
      transition: transform 0.3s linear;
    }

    .menu__list {
      display: block;
      width: 400px;
      list-style: none;

      .menu__item {
        display: block;
        padding: 12px 24px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
        @include breakpoint (sm) {
          font-size: 10px;
        }
        @include breakpoint (xs) {
          font-size: 8px;
        }

        &:hover {
          background-color: #074b90;
        }
      }

    }

    /* открыть / закрыть меню */
    #menu__toggle:checked ~ .menu__btn > .bb_center {
      display: none;
    }
    #menu__toggle:checked ~ .menu__btn > .bb_top {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > .bb_bottom {
      bottom: 50%;
      transform: translateY(50%) rotate(-45deg);
    }
    #menu__toggle:checked ~ .menu__box {
      transform: translateX(0);
    }
  }
}