.about_page {
  margin-top: 82px;
  padding-bottom: 100px;
  background: url('assets/images/bg.webp') no-repeat;
  background-position: bottom;

  .about_wrapper {
    width: 1170px;
    margin: 0 auto;
  }

  .list_decimal {
    list-style-type: decimal;
  }
}