.gallery_page {
  & &--content {
    box-sizing: border-box;
    padding-top: 82px;
    padding-bottom: 100px;
    background: url('assets/images/bg.webp') no-repeat;
    background-position: bottom;
    background-color: #f7f8fa;
    background-size: 100%;
    @include breakpoint(hd) {
      background-size: auto;
    }
    @include breakpoint(sm) {
      padding-bottom: 40px;
    }
  }

  & &_images {
    flex-wrap: wrap;

    &--item {
      flex: 1 0 12.5%;
    }
  }

  .gallery_photo {
    &_img {
      width: 170px;
      margin: 10px;
      border-radius: 10px;

      &:hover {
        z-index: 10;
        box-shadow: 8px 8px 15px #00000066;
        transform: rotate(0deg) scale(1.2);
        transition: 0.3s ease-out;
      }
    }
  }

  & .footer .decor_field_container {
    display: none;
  }
}
